
@{
    Layout = "MasterpageDeslogado";
}

@ViewBag.Mensagem
     <h1>Formulário de Cadastro</h1>
    <form style="display: flex; flex-direction: column; width: 300px; align-items: center" action="Usuario/Cadastrar" method="post">
        <label for="nome">Nome:
        <input type="text" name="nome">
        </label>
        <label for="email">Email:
            <input type="email" name="email">
        </label>
        <label for="senha">Senha:
            <input type="password" name="nome">
        </label>
        <label for="data">Data nascimento:
        <input type="date" name="dataNascimento">
        </label>
        <input type="submit" value="Enviar">
    </form>
