@{
    Layout = "MasterpageDeslogado";
}
<link href="/css/login.css" rel="stylesheet">
@ViewBag.Mensagem
<form action="/Usuario/Login" method="POST">


<label class="cor-amarela">
    E-mail
    <input type="email" name="email"
    required maxlength="110">

</label>
<label>
    Senha
    <input type="password" name="senha"
    required maxlength="50">
</label>
<button type="submit">Entrar no sistema</button>
</form>